@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

html {
 
    min-height: 100%;
}


* { 
    font-family:  'Ysabeau', sans-serif;
   
}

body{

  
  background-image: url(../img/hosp2.jpg);
  height: 100%;
  width: 95%;
  background-repeat: no-repeat;
  background-size:  cover;
  

}


a{
  margin-left: 30em;
  color: azure; 
  padding-top: 5px;
  font-size: 180%;  
}


legend
{
  font-style:bold;
  font-family: 'Ysabeau', sans-serif;
  font-size: 190%;
  margin: 20px;

  
}

fieldset {

  text-align: left;
  display: inline;
 
  
}


article {

  margin: 0 0 20px;
  padding: 10px 25px;
  width: 100%;

  
}


.frmInscricao{
  
  max-width: 500px;
  height: 450%;
  padding: 50px;


}

#btnenviar{
  line-height: 2;
  padding: 2px;
  font-size: 0.15rem;
  text-align: center;
  width: 20%;
  border-radius: 2px;
  background-color: rgb(27, 83, 70);
  box-shadow: inset 2px 2px 3px rgba(110, 247, 215, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}

#btncancel{
  
  line-height: 2;
  text-align: center;
  width: 20%;
  border-radius: 2px;
  background-color: rgb(27, 83, 70);
  box-shadow: inset 2px 2px 3px rgba(110, 247, 215, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}

#btnPesquisar{
 
  line-height: 2;
  text-align: center;
  width: 20%;
  border-radius: 2px;
  background-color: rgb(27, 83, 70);
  box-shadow: inset 2px 2px 3px rgba(110, 247, 215, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}

#btn1{

  line-height: 2;
  padding: 2px;
  font-size: 0.1rem;
  text-align: center;
  width: 10%;
  border-radius: 1px;
  background-color: rgb(88, 151, 147);
  box-shadow: inset 2px 2px 3px rgba(1, 34, 27, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}

#btn2{

  line-height: 2;
  padding: 2px;
  font-size: 0.10rem;
  text-align: center;
  width: 10%;
  border-radius: 2px;
  background-color: rgb(88, 151, 147);
  box-shadow: inset 2px 2px 3px rgba(1, 34, 27, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);

}

 

