@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

html {
    min-height: 100%;
 }

*html{ 

    
    padding-top: 2cm;
    margin-left: 27em;
    font-size: 200%;
    font-family:  'Ysabeau', sans-serif;
    font-weight: 500;
    vertical-align: baseline;
    text-decoration: none;
}

header{

    padding-top: 90px;  
    margin-left: 30em;
    font-size: 30px;

}


body{

    background-image: url(../img/hop.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}


a{
    margin-left: 10px;
    text-decoration: overline;
    color: azure; 
    margin-inline-start: 90px;
    padding-top: 20px;  
}

main{
    animation: inicializar .7s forwards;
    color: azure; 
    margin-inline-start: 100px;
    line-height: 100%;
    font-size: 70px;
    padding-top: 290px;
}



@keyframes inicializar {
    from{
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {

        opacity: 1;
        transform: translate(0,0,0);
    }
}

@keyframes pisca{
        0%, 100%{
            opacity: 1;
        }
        0%{
            opacity: 0;
        }
    }

